<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TheMonarchs</a>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Monarchs
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="numberofmonarchs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Number of monarchs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="longestrule">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Longest ruling...
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mostcommonname">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Most common name
            </NavLink>
        </li>

    </ul>
</div>

@code {
}
